body {
  font-family: arial, sans-serif;
}

#description:first-letter {
  text-transform: capitalize;
}
#city:first-letter {
  text-transform: capitalize;
}

.active {
  color: black;
  text-decoration: none;
}

.active:hover {
  color: black;
  cursor: default;
}
